<h1>Pirate</h1>
<h2>Name: <%=@pirate.name%></h2>
<h3>Weight: <%=@pirate.weight%></h3>
<h3>Name: <%=@pirate.height%></h3>
<br><br>

<% @ships.each do |a_ship| %>
    <h2>Ship name: <%=a_ship.name%></h2>
    <h3>Ship name: <%=a_ship.type%></h2>
    <h3>Ship name: <%=a_ship.booty%></h2>
    <br>
<% end %>
