<h1>Pirate details</h1>
<p>Name: <%= @pirate[:name] %></p>
<p>Weight: <%= @pirate[:weight] %></p>
<p>Height: <%= @pirate[:height] %></p>

<!-- ships variable -->
<% ships = @pirate[:ships] %>

<h2>Ship 1 details</h2>
<p>Name: <%= ships[0][:name] %></p>
<p>Type: <%= ships[0][:type] %></p>
<p>Booty: <%= ships[0][:booty] %></p>

<hr>

<h2>Ship 2 details</h2>
<p>Name: <%= ships[1][:name] %></p>
<p>Type: <%= ships[1][:type] %></p>
<p>Booty: <%= ships[1][:booty] %></p>



